.App {
  position: relative;
  margin: 2rem auto;
  max-width: 40rem;
  padding: 0.5rem 1rem 1rem;
  border-radius: 0.5rem;
  background: #f4f4f4;
}

.loading {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.error {
  background: pink;
  padding: 1rem;
  border-radius: 0.5rem;
}
